<div class="page-header">
  <h2>
    <%= @topic.title %>
  </h2>
</div>

<div>
  <%= @topic.description %>
</div>

<hr>
<p>
  <%= link_to edit_topic_path(@topic), class: 'btn btn-default btn-sm' do %>
    <span class='glyphicon glyphicon-edit'></span>
    Edit
  <% end %>
  <%= link_to @topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' do %>
    <span class='glyphicon glyphicon-trash'></span>
    Delete
  <% end %>
  <%= link_to 'All topics', topics_path, class: 'btn btn-default btn-sm' %>
</p>
