<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Suggestotron</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <div id='notice'><%= msg %></div>
<% end %>

<%= yield %>

</body>
</html>
